@section Head{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
}

<table id="myTable">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Telefon</th>
        </tr>
    </thead>
</table>




@section js{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        var dataSource=[{"Adi":"Emre","Soyadi":"Özbaşkan","Telefon":"5555555555"},{"Adi":"Emre","Soyadi":"Özbaşkan","Telefon":"5555555555"}]

        $(document).ready(function(){
            $('#myTable').DataTable({
                data:dataSource,
                columns:[
                    {data:"Adi"},
                    {data:"Soyadi"},
                    {data:"Telefon"},
                ]
            });
        });
    </script>
}
